name='opossum-plan9-amd64'

rm -rf ./$name
mkdir ./$name
chmod +t ./$name
mkdir ./$name/domino-lib

echo Compiling...
cd cmd/browse
go build -o $name.bin
cd ../..
mv cmd/browse/$name.bin .
mv $name.bin ./$name/
cp README.md ./$name/
cp normalize.css ./$name/
dircp domino-lib ./$name/domino-lib
tar czf $name.tgz $name
chmod +t $name.tgz
echo Created $name.tgz
tarball=`{pwd} ^ '/' ^ $name ^ '.tgz'

echo Verifying $tarball ...
mkdir -p /tmp/`{date -n}
cd /tmp/`{date -n}
tar xf $tarball
cd $name
./$name.bin '-quiet=false'
./$name.bin '-experimentalJsInsecure=true' '-quiet=false'
